.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1rem;
}

.pagination button {
  width: 2.5rem;
  height: 2.5rem;
  font-family: inherit;
  font-size: .8rem;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  background: transparent;
  color: black;
}

.pagination button.active {
  font-weight: 900;
  border: 1px solid #1f35f8;
  border-radius: 100%;
  color: #101010;
}